$table-active-bg: #0d6efd;
$table-active-color: white;
$table-hover-bg: #4e94fd;
$table-hover-color: white;



$list-group-hover-bg: #4e94fd;
$list-group-action-hover-color: white;

@import "node_modules/bootstrap/scss/bootstrap"